package layouts

import (
  appcontext "lisfun/internal/app/context"
)

templ Main(requestContext *appcontext.RequestContext) {
  @Root(requestContext) {
    <div class="h-full pt-4 px-4">
      <input type="checkbox" checked value="valentine" class="hidden checkbox theme-controller" />
      { children... }
    </div>
  }
}
