package layouts

import (
  appcontext "lisfun/internal/app/context"
)

templ Main(requestContext *appcontext.RequestContext) {
  @Root(requestContext) {
    <div>Main layout</div>
    { children... }
  }
}
