package errors

import (
	"github.com/labstack/echo/v4"
	appcontext "lisfun/internal/app/context"
	"lisfun/internal/app/views/layouts"
	"fmt"
)

templ Error(requestContext *appcontext.RequestContext, err *echo.HTTPError) {
  @layouts.Main(requestContext) {
    <p>{ fmt.Sprintf("%d", err.Code) } - { err.Message.(string) }</p>
  }
}
